name: Build and Test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    strategy:
      max-parallel: 2
      matrix:
        os: [macos-latest] # ubuntu currently doesnt work, https://github.com/swift-actions/setup-swift/issues/677
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - uses: swift-actions/setup-swift@v2
      with:
        swift-version: "6.2.1"
    - name: Get swift version
      run: swift --version # Swift 5.1.0
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
      
